
# my camera gets misrecognized as a keyboard!
# Not a keyboard!
# SUBSYSTEM=="usb", DRIVER=="libinput", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="636b", ATTR{authorized}="0"

0c45:636b
# these are udev rules so that the camera gets a stable /dev/camera device node (rather than a sometimes changing videoN node)
# use E: ID_V4L_CAPABILITIES=:capture: to detect cameras? based on looking at "udevadm info /dev/video3"
# not needed: GROUP="plugdev", MODE="0666"
# doesn't work: ENV{ID_V4L_CAPABILITIES}==":capture:"

# make first video device be /dev/camera
ACTION=="add", SUBSYSTEM=="video4linux", \
    ATTR{index}=="0", \
    SYMLINK+="camera"